<!DOCTYPE html>
<html>
<head>
  <title>Social</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <table>
      <tr>
        <td ><%= link_to 'Home', root_url %></td>
        <td>My Products</td>
        <td>Forum</td>
        <td><%= link_to 'Users', users_path %></td>
        <td><%= link_to 'Join Me', new_user_path %></td>
        <td><%= link_to 'Contact Me', contact_page_path %></td>
      </tr>
    </table>
  </nav>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<%= yield %>

</body>
</html>
